- name: install core system utilities
  become: true
  tags: install
  package:
    name:
      - vim
      - git
      - neofetch
      - htop
      - tmux
      - alacritty
      - unzip
      - curl
      - lsof
      - xrandr
      - nitrogen
      - dunst
      - zsh
      - fzf
    state: "latest"

- name: set git configuration
  tags: install
  shell:  git config --global user.email "mitchell@mitchellthorson.com" && git config --global user.name "mitchthorson"

