- name: configure dnf
  become: true
  tags: install
  shell: "echo '[main]\ngpgcheck=True\ninstallonly_limit=3\nclean_requirements_on_remove=True\nbest=False\nskip_if_unavailable=True\n\n# Added for speed:\nfastestmirror=True\nmax_parallel_downloads=10\ndefaultyes=True\nkeepcache=True' > /etc/dnf/dnf.conf"

- name: install core system utilities
  become: true
  tags: install
  package:
    name:
      - vim
      - git
      - neofetch
      - htop
      - tmux
      - alacritty
      - unzip
      - curl
      - lsof
      - xrandr
      - nitrogen
      - dunst
      - zsh
      - fzf
      - dconf
      - ripgrep
    state: "latest"

- name: set git configuration
  tags: install
  shell:  git config --global user.email "mitchell@mitchellthorson.com" && git config --global user.name "mitchthorson"

